<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dawnbringers!</title>
        {% capture css %}
            {% include assets/css/normalize.css %}
            {% include assets/css/style.css %}
        {% endcapture %}
        <style>{{ css | safe }}</style>
    </head>
    <body>
        <header class="site-header">
            <h1 class="site-title"><span class="first">The</span> <span class="second">Dawnbringers'</span> <span class="third">Enemy</span> <span class="fourth">List!</span></h1>
            <div class="construction construction-first">
                {{ "assets/images/under-construction.svg" | useSVG }}
            </div>
            <div class="construction construction-second">
                {{ "assets/images/under-construction.svg" | useSVG }}
            </div>
            <div class="construction construction-third">
                {{ "assets/images/under-construction.svg" | useSVG }}
            </div>
        </header>
        <div class="content-wrapper">
            <nav id="site-nav">
                {% if collections.post %}
                    <button id="nav-toggle">click <span class="underline">HERE</span> to see the list!</button>
                    <ul>
                        {% for post in collections.post %}
                            <li>
                                {% if page.url == post.url %}
                                    {{ "assets/images/triangle.svg" | useSVG }}
                                {% endif %}
                                <a href={{ post.url }}>{{ post.data.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>This is where I'd put a list of our enemies...</p>
                    <img src="assets/images/if-i-had-one.jpg" />
                {% endif %}
            </nav>
            <main class="site-content">
                {{ content }}
            </main>
        </div>
        <footer class="site-footer">
            <div class="img-wrapper">
                <img src="../../assets/images/best-viewed.png" />
            </div>
            <div class="web-ring">
                <div class="web-ring-header">
                    <h2>A Proud Member Of...</h2>
                </div>
                <div class="web-ring-title">
                    <p>Steve's Webring!</p>
                </div>
                <div class="web-ring-nav">
                    <span>[ Prev ]</span>
                    <a href="https://stephencottontail.com/">[ Next ]</a>
                </div>
                <div class="web-ring-footer">
                    <a href="https://twitter.com/s_cottontail24">[ Twitter ]</a> <a href="https://github.com/stephencottontail">[ Github ]</a> <a href="https://www.apple.com">[ Made on an iPad ]</a>
                </div>
            </div>
        </footer>
        {% if collections.post %}
            <script type="text/javascript">{% include assets/js/nav.js %}</script>
        {% endif %}
    </body>
</html>
